<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	         http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="stockVerifyChainImpl" class="org.springframework.bean.StockVerifyChainImpl">
        <property name="stockVerifier" ref="stockVerifier"/>
    </bean>

    <bean id="stockVerifier" class="org.springframework.bean.StockVerifier">
        <property name="skuCode" value="SKU001"/>
        <property name="warehouseCode" value="A0001"/>
    </bean>
</beans>